doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title videoChatApp
  link(rel='stylesheet', href='css/room.css')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster+Two:ital@1&family=Special+Elite&display=swap" rel="stylesheet")
  script(src="https://code.jquery.com/jquery-3.6.0.js")
body
  #header
    h1 OEDIV CALL
    button#leave LEAVE CALL
  #stream
  #butnav
    button#cam
      i(class="fas fa-video")
    button#mic 
      i(class="fas fa-microphone-slash")
    button#invite
      i(class="fas fa-user-plus")
    button#scshare 
      i(class="fas fa-rss")
    button#chat
      i(class="fas fa-comment-alt")
  #chatbar 

  script.
    const ROOM_ID = "#{roomId}";
  script(defer, src='/socket.io/socket.io.js')
  script(defer, src='https://kit.fontawesome.com/c939d0e917.js')
  script(defer, src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js')
  script(defer, src='script/room.js')